@font-face {
  font-family: 'fontello';
  src: url('../font/icons/fontello.eot?31475495');
  src: url('../font/icons/fontello.eot?31475495#iefix') format('embedded-opentype'),
       url('../font/icons/fontello.woff2?31475495') format('woff2'),
       url('../font/icons/fontello.woff?31475495') format('woff'),
       url('../font/icons/fontello.ttf?31475495') format('truetype'),
       url('../font/icons/fontello.svg?31475495#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/icons/fontello.svg?31475495#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-group-19520:before { content: '\e800'; } /* '' */
.icon-group-19521:before { content: '\e801'; } /* '' */
.icon-minus-3:before { content: '\e802'; } /* '' */
.icon-cloud-computing-5:before { content: '\e863'; } /* '' */
.icon-earth-grid-symbol:before { content: '\e864'; } /* '' */
.icon-funds:before { content: '\e866'; } /* '' */
.icon-group-20183:before { content: '\e869'; } /* '' */
.icon-key_icn:before { content: '\e86a'; } /* '' */
.icon-love:before { content: '\e86b'; } /* '' */
.icon-magnifying-glass:before { content: '\e86c'; } /* '' */
.icon-more-1:before { content: '\e86d'; } /* '' */
.icon-negative-sign:before { content: '\e86e'; } /* '' */
.icon-pencil-1:before { content: '\e870'; } /* '' */
.icon-person_icn:before { content: '\e871'; } /* '' */
.icon-plus-sign:before { content: '\e872'; } /* '' */
.icon-star-half-empty:before { content: '\e873'; } /* '' */
.icon-telephone-call:before { content: '\e874'; } /* '' */
.icon-union-2:before { content: '\e875'; } /* '' */
.icon-union-3:before { content: '\e876'; } /* '' */
.icon-group-20185:before { content: '\e877'; } /* '' */
.icon-notification-7-7:before { content: '\e879'; } /* '' */
.icon-group-20282:before { content: '\e87a'; } /* '' */
.icon-group-20283:before { content: '\e87b'; } /* '' */
.icon-union-7:before { content: '\e87c'; } /* '' */
.icon-tick-4:before { content: '\e87e'; } /* '' */
.icon-notifications-button:before { content: '\e87f'; } /* '' */
.icon-group-19887:before { content: '\e884'; } /* '' */
.icon-mail:before { content: '\e886'; } /* '' */
.icon-eye-1:before { content: '\e887'; } /* '' */
.icon-down-arrow-1:before { content: '\e889'; } /* '' */
.icon-goal-4-1:before { content: '\e88b'; } /* '' */
.icon-left:before { content: '\e88c'; } /* '' */
.icon-right:before { content: '\e88d'; } /* '' */
.icon-close-5:before { content: '\e88f'; } /* '' */
.icon-open-menu:before { content: '\e890'; } /* '' */